@model JobInfoSortingApp.Models.Jobs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jobs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refrence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refrence)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
